  
<app-menu></app-menu>
<span class="page-title font-weight-bold font-italic">{{title}}</span>
<span>  | <a routerLink="/request/list">Return to list...</a></span>
<div *ngIf="!loggedInUser">To continue login is needed....</div>
<div *ngIf='loggedInUser'>
    <table class="table table-sm">
        <th>User</th>
                <td>{{request.user.username}}</td>
            <tr>
                <th>Description</th>
                <td>
                    <input [(ngModel)]="request.description" type="text">
                </td>
            </tr>
            <tr>
                <th>Justification</th>
                <td>
                    <input [(ngModel)]="request.justification" type="text">
                </td>
            </tr>
            <tr>
                <th>Date Needed</th>
                <td>
                    <input [(ngModel)]="request.dateNeeded" type="date">
                </td>
            </tr>
            <tr>
                <th>Description</th>
                <td>
                    <select [(ngModel)]="request.deliveryMode">
                        <option>Ground</option>
                        <option>Two-Day</option>
                        <option>Overnight Air</option>
                    </select>
                </td>
            </tr>
        </table>
        <div>
            <span>
            <button class="btn btn-primary" (click)="save()">Edit</button> |
            <button class="btn btn-danger" (click)="delete()">Delete</button>
        </span>
        </div>
    </div>
